.banner {
    max-height: 1420px;
    background-color: #ccc;
    /* padding: 20px; */
    /* text-align: center; */
    /* border-bottom: 1px solid #e0e0e0; */
}


.banner .layout-introduce {
    display: -webkit-box !important;
    display: flex !important;
    height: 900px;
    -webkit-box-align: center !important;
    align-items: center !important;
    width: 100%;
    background: url(./bg-introduction-banner.png) no-repeat;
    background-size: cover;
    z-index: 1000;
}

.banner .introduce-content {
    max-width: 1400px;
    padding: 0px 20px;
    display: flex;
    margin: 0px auto;
    margin-top: 150px;
    /* align-items: center; */
    justify-content: center;
}

.banner .introduce-content .introduce-left {
    -webkit-box-flex: 0;
    flex: 0 50%;
    margin: 50px 100px 0px 0px;
    padding: 0px 15px 0px 0px;
    z-index: 11;
    /* background-color: aqua; */
}

.banner .introduce-content .introduce-right {
    -webkit-box-flex: 0;
    flex: 0 50%;
    display: block;
}

.introduce-left .slogan {
    /* font-family: 'Poppins ExtraBold'; */
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 0;
    font-size: 70px;
    line-height: 80px;
    text-align: left;
}

.introduce-left .description {
    color: #BFC1CD;
    font-size: 16px;
    line-height: 30px;
    /* text-align: left; */
    letter-spacing: 0;
    margin-top: 32px !important;
}

.introduce-left .btn-bc {
    margin: 48px 0px;
}

.introduce-left .btn-bc .btn-bc-primary {
    width: 220px;
    background-color: #FAD20B;
    height: 48px;
    border-radius: 24px;
    padding: 0.375em 2em;
    color: #191D28;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize !important;
}

.introduce-left .btn-bc .btn-bc-primary:hover {
    background-color: #FFE772;
    cursor: pointer;
}