/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

div {
  display: block;
  unicode-bidi: isolate;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  color: #363636;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

main {
  flex: 1;
}

a {
  text-decoration: none;
  cursor: pointer;
}