.layout-header {
  padding: 0px 16px;
  z-index: 1000;
  background-color: #fff;
  position: sticky;
  top: 0;
}

.layout-header .layout-header_content {
  display: flex;
  height: 100%;
}

.layout-header_content .logo-header {
  height: 100%;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  align-items: center;
}

.layout-header_content .logo-header .logo {
  height: 64px;
  padding: 8px;
  padding-left: 80px;
  /* line-height: 100; */
  align-items: center;
}

.menu-header {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
  flex-direction: row;
  width: 100% !important;
  padding-left: 24px;
}
.v-menu {
  height: 100%;
}
.v-menu ul {
  background: #fff;
  border-bottom: none;
  height: 100%;
  display: flex;
  -webkit-box-align: center !important;
  align-items: center !important;
  list-style-type: none;
  height: 100%;
}

.v-menu ul li {
  padding: 0px 24px;
  width: 88px;
  align-items: center;
  text-align: center;
  margin: 0px 12px;
  height: 100%;
  justify-content: center;
  display: flex;
}

.v-menu ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.v-menu li a {
  color: #191d28 !important;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  display: flex;
}

/* V-Right */
.v-right {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.v-searchBox {
  margin-right: 32px;
  position: relative;
  width: auto;
}

.v-searchBox input {
  z-index: 2;
  height: 40px;
  width: 260px;
  border-radius: 25px;
  background: #eaf0f7 !important;
  border: none !important;
  padding-left: 24px;
  font-size: 14px;
  margin: 8px;
}
.v-searchBox input:hover {
  border-color: #62cc9e;
  border-right-width: 1px !important;
}
.v-searchBox input:focus {
  border-color: #62cc9e;
  border-right-width: 1px !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(62, 192, 141, 0.2);
  box-shadow: 0 0 0 2px rgba(62, 192, 141, 0.2);
}

.v-searchBox .icon-search {
  position: absolute;
  top: 50%;
  z-index: 2;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgba(27, 27, 27, 0.65);
  line-height: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.v-user .v-login {
  color: #191d28;
  font-size: 16px;
  font-weight: 700;
  margin: 0px 12px;
  text-decoration: none;
}

.v-login:hover {
  color: #000;
  text-decoration: underline;
}

.v-user .v-register {
  background-color: #fad20b;
  height: 48px;
  border-radius: 24px;
  width: auto;
  color: #191d28;
  font-size: 16px;
  font-weight: 700;
  padding: 6px 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 21px;
  margin: 0px 12px;
}

.v-user .v-register:hover {
  color: #929083;
  cursor: pointer;
  background-color: #fadb3f;
}

.search-input:placeholder-shown {
  text-overflow: ellipsis;
}
/* link ? active */
.header-item.active {
  position: relative;
}

.header-item.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 4px solid #fad20b;
}
